@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Neutral colors */
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-dark-blue-main-BG);
  font-family: "Outfit", sans-serif;
  font-size: 1.12rem;
}

img {
  max-width: 100%;
}

.card {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--Very-dark-blue-card-BG);
  border-radius: 1rem;
  overflow: hidden;

  padding: 1rem;
  color: var(--White);
  font-family: "Outfit", sans-serif;
}

.nft-img {
  padding: .5rem;
  border-radius: 1rem;

  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.view{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.nft-content:hover .nft-img{
  opacity: .3;
}

.nft-content:hover .active{
  opacity: 1;
}





.text {
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
}

.text h1{
  font-size: 1.5rem;
  font-weight: 600;
}

.text p{
  margin: 1rem 0;
  line-height: 1.5rem;
  color: var(--Soft-blue);
}

.section2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 h3 {
  color: var(--Cyan);
  font-size: medium;
  font-weight: 400;
}

.sect img {
  margin-top: .2rem;
  margin-right: .2rem;
}

.flex{
  display: flex;
  gap: .2rem;
  align-items: center;
}


.line {
  border: 1px solid var(--Very-dark-blue-line);
}

.creator{
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.creator p span{
  color: var(--Soft-blue);
}

.avatar {
  width: 10%;
  border: .12rem solid var(--White);
  border-radius: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* medium and large screen sizes */

.card {
  width: 50%;
  height: auto;

  padding: 1rem;    
  font-family: "Outfit", sans-serif;
}
