@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  /* primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Neutral colors */
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-dark-blue-main-BG);
  font-family: 'Outfit', sans-serif;
  font-size: 1.12rem;
}

img{
    max-width: 100%;
}

.card{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 1.5rem;
    overflow: hidden;

    padding: 1rem;
    color: var(--White);
    font-family: 'Outfit', sans-serif;
}

.text{
    padding: 1rem;
    font-size: medium;
}
.sect{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.sect h3{
    color: var(--Cyan);
    font-size:medium;
    font-weight: 300;
}

.sect img{
    margin-right: .2rem;
}

.nft-img{
    padding: 1rem;
    border-radius: 2rem;
}

.avatar{
    width: 15%;
    border: 1px solid var(--White);
    border-radius: 2rem;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
